@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 98.46%;
    --foreground: 252 0% 10%;
    --muted: 0 0% 91.54%;
    --muted-foreground: 0 0% 53.08%;
    --popover: 0 0% 100%;
    --popover-foreground: 252 0% 0%;
    --card: 0 0% 100%;
    --card-foreground: 252 0% 30.77%;
    --border: 0 0% 86.92%;
    --input: 0 0% 74.62%;
    --primary: 27.06 92.51% 79.46%;
    --primary-foreground: 0 0% 0%;
    --secondary: 164.12 70.54% 73.89%;
    --secondary-foreground: 0 0% 0%;
    --accent: 27.06 0% 93.85%;
    --accent-foreground: 0 0% 0%;
    --destructive: 0 65.31% 66.73%;
    --destructive-foreground: 0 0% 100%;
    --ring: 27.06 1.79% 32.5%;
    --radius: 0.8rem;
  }

  .dark {
    --background: 0 0% 6.27%;
    --foreground: 252 37% 98%;
    --muted: 0 0% 20%;
    --muted-foreground: 0 0% 62.75%;
    --popover: 0 0% 8.63%;
    --popover-foreground: 252 37% 99%;
    --card: 0 0% 6.27%;
    --card-foreground: 252 37% 99%;
    --border: 0 0% 15.69%;
    --input: 0 0% 25.38%;
    --primary: 27.06 100% 80%;
    --primary-foreground: 0 0% 0%;
    --secondary: 164.12 100% 80%;
    --secondary-foreground: 0 0% 0%;
    --accent: 27.06 0.22% 23.03%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 100% 75.1%;
    --destructive-foreground: 0 0% 0%;
    --ring: 27.06 100% 80%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
